.modal {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.3);
  transition: all 0.4s ease-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: 5;
  display: flex;

  &--active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    flex: 1;
    margin: auto;
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
  }

  &__close {
    position: absolute;
    transform: scalex(1.4);
    transition: all 0.4s;
    cursor: pointer;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    color: $mainBlue;

    &:hover {
      color: $mainOrange;
      transform: scaleX(1.6) scaleY(1.2);
    }
  }
}
